<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="containter">
    {% for item in post_list %}
        <div class="post-wrapper preview">
             <div class="image-wrapper">
                <a href="#" class="images" data-toggle="modal" data-target="#modal{{ item.id }}">
                    <img src="{{ item.url }}" id="{{ item.id }}" />
                </a>
            </div>
        </div>
        <div id="modal{{ item.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-warning" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <img src="{{ item.url }}" />
            </div>
            <div class="modal-footer">
                <div class="comment">
                    <p>
                {{ item.comment }}
                    </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
    <div class="new-image">
        <a href="{% url 'landing' %}" class="btn btn-lg btn-success">Добавить</a>
    </div>
    </div>
</div>

</body>
</html>